<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>phucly</title>
    <link rel="stylesheet" href="/css/homepage.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div>
        <div class="home">
            <div class="site_title">
                <h1 class="site_name">Hello. I am Ly Hien Phuc</h1>
            </div>
            <h3 class="site_slogan">A Full Stack Fresher</h3>
            <br>
            
            <img id="avatar" src="/img/avatar.jpg" alt="avatar">

        </div>

        <br><br><br>

        <div class="section-header">
            <div class="section-title">SKILL</div>
        </div>
        {{>info}}
        

    </div>
</body>
</html>