<div class="container">
            <div class="row">
                <div class="col-sm">
                  <div class="info">
                      <h2 class="title">Programming language</p>
                        <ul>
                            <li>Swift</li>
                            <li>Javascript</li>
                            <li>C#</li>
                            <li>HTML, CSS</li>
                        </ul>
                      <h2 class="title">Framework & Platform</h2>
                        <ul>
                            <li>UIKit</li>
                            <li>React</li>
                            <li>Nodejs</li>
                        </ul>
                  </div>

                </div>
                <div class="col-sm">
                  <div class="info">
                      <h2 class="title">Database</p>
                        <ul>
                            <li>Realm</li>
                            <li>MongoDB</li>
                            <li>SQL</li>
                        </ul>
                      <h2 class="title">IDE</h2>
                        <ul>
                            <li>Xcode</li>
                            <li>Visual Studio Code</li>
                            <li>Atom</li>
                        </ul>
                      <h2 class="title">Version Control</h2>
                        <ul>
                            <li>Git</li>
                        </ul>
                  </div>
                </div>
                <div class="col-sm">
                  <div class="info">
                      <h2 class="title">Knowledge</h2>
                        <ul>
                            <li>Basic programming</li>
                            <li>Understanding OOP</li>
                            <li>Data structure & Algorithm</li>
                            <li>Design pattern MVC</li>
                        </ul>
                  </div>
                </div>
            </div>
        </div>