
#avatar{
    border-radius: 50%;
    width: 20%;
    height: 20%;
    transition: 0.5;
    margin-top: 2%;
    margin-bottom: 5%;
}
.home{
    align-items: center;
    display: flex;
    flex-direction: column;
    background-image: url('/img/background.jpg');
    margin: -0.6%;
}
.site_title{
    font-size: 60px;
}
.site_name{
    color: gray;
    font-size: 50px;
    font-family: 'Raleway',sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
    margin: 0;
}
.site_slogan{
    font-size: 30px;
    color: gray;
    font-family: 'Raleway',sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    line-height: 30px;
    margin: 0;
}

.info{
    background-color: #f1f2f7;
    color: black;
    padding: 10%;
}

.title{
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 0;
    color: #32323a;
}

.section-header{
    background: #f1f2f7;
    box-shadow: 0 3px 3px 0 rgba( 1,2,2,0.05);
    padding: 30px 0;
    margin-bottom: 40px;
}

.section-title{
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: #a8aab3;
    font-size: 33px;
    font-weight: 300;
    font-family: 'Raleway',sans-serif;
    letter-spacing: 3px;
}