<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>phucly</title>
    <style>
        #avatar{
            border-radius: 50%;
            width: 20%;
            height: 20%;
            transition: 0.5;
        }
        .home{
            align-items: center;
            display: flex;
            flex-direction: column;
            background-image: url('https://wallpaperaccess.com/full/773433.jpg');
            margin: -0.6%;
        }
        .site_title{
            font-size: 60px;
        }
        .site_name{
            color: gray;
            font-size: 50px;
            font-family: 'Raleway',sans-serif;
            font-weight: 100;
            text-transform: uppercase;
            text-align: center;
            line-height: 60px;
            margin: 0;
        }
        .site_slogan{
            font-size: 30px;
            color: gray;
            font-family: 'Raleway',sans-serif;
            font-weight: 100;
            text-transform: uppercase;
            text-align: center;
            line-height: 30px;
            margin: 0;
        }
    </style>
</head>
<body>
    <div>
        <div class="home" data-image="../image/header_bg.jpeg">
            <div class="site_title">
                <h1 class="site_name">Hello. I am Ly Hien Phuc</h1>
            </div>
            <h3 class="site_slogan">A Full Stack Fresher</h3>
            <br>
            
            <img id="avatar" src="https://scontent.fsgn8-1.fna.fbcdn.net/v/t1.0-9/53014737_2233858510162760_5278280928634863616_n.jpg?_nc_cat=108&_nc_ohc=LzaNui9AuXoAX8CpzpT&_nc_ht=scontent.fsgn8-1.fna&oh=a557cdd9c0d8d26a523399de349fab54&oe=5EC718F2" alt="avatar">

        </div>
    </div>
</body>
</html>